#app .navbar .home-link span:before{
	display: inline-block;
	content:'';
	width: 2.7rem;
	height:2.5rem;
	background:url('../img/xing.png') no-repeat;
	background-size:100% 100%;
	vertical-align: middle;
}
#app .navbar .site-name{
	/* color:red; */
}